@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap');

* {
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Roboto', sans-serif;
}

.contact-form {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #375F61;
}

.contact-form .container {
  width: 270px;
  min-height: 300px;
  padding: 20px 15px;
  background-image: linear-gradient(#164346,#053639);
  box-shadow: 5px 10px 15px rgba(7, 22, 24, 0.5);
}

.contact-form .container form {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.contact-form form .form-title {
  position: relative;
  color: #607F81;
  text-transform: uppercase;
  text-shadow: 1px 2px 1px #0A2225;
  margin-bottom: 6px;
}

.contact-form form .form-title::after {
  position: absolute;
  left: 0;
  bottom: -7px;
  content: '';
  width: 100%;
  height: 3px;
  background-color: #607F81;
  box-shadow: 0 2px 3px #0A2225;
  border-radius: 5px;
}

.contact-form form input {
  width: 70%;
  padding: 5px 7px;
  background-image: linear-gradient(#0A2225, #1A3D3F);
  border: none;
  box-sizing: border-box;
  font-size: 0.8em;
  color: white;
  box-shadow: 0 1px 3px #607F81;
  border-radius: 5px;
}

.contact-form form input::placeholder,
.contact-form form textarea::placeholder {
  text-transform: capitalize;
  color: wheat;
}

.contact-form form textarea {
  padding: 5px 7px;
  min-height: 170px;
  background-image: linear-gradient(#0A2225, #1A3D3F);
  border: none;
  box-sizing: border-box;
  font-size: 0.8em;
  color: white;
  box-shadow: 0 1px 3px #607F81;
  border-radius: 5px;
}

.contact-form form input:focus,
.contact-form form textarea:focus {
  outline: none;
}

.contact-form form input[type="submit"] {
  width: 100px;
  text-transform: uppercase;
  color: wheat;
  margin-left: auto;
  cursor: pointer;
}

.contact-form form input[type="submit"]:hover {
  background-image: linear-gradient(#1A3D3F, #0A2225);
}